body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

thead tr {
  background-color: #003da5;
  color: white;
}

thead th,
tbody td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
}

tfoot td {
  padding: 8px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #e6e6e6;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

#searchInput {
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#statsTable {
  margin-top: 16px;
}
